.env
.gnostr/
primary-key
/node_modules
/.hyper-nostr-relay
/caddy
/topics
**.DS_Store

TwitterAPI/
twitter_access_tokens.zip
twitter_access_tokens.zip.gpg
twitter_access_tokens/
keys.txt
KEYS
package-lock.json
search/tweets/bitcoin
search/tweets/nostr
yarn.lock

**.gch

node_modules/.bin/eslint
node_modules/.bin/standard
node_modules/.bin/tape
node_modules/.pnpm/node_modules/.bin/acorn
node_modules/.pnpm/node_modules/.bin/dns-query
node_modules/.pnpm/node_modules/.bin/hyperdht
node_modules/.pnpm/node_modules/.bin/ignored
node_modules/.pnpm/node_modules/.bin/js-yaml
node_modules/.pnpm/node_modules/.bin/json5
node_modules/.pnpm/node_modules/.bin/loose-envify
node_modules/.pnpm/node_modules/.bin/node-gyp-build
node_modules/.pnpm/node_modules/.bin/node-gyp-build-optional
node_modules/.pnpm/node_modules/.bin/node-gyp-build-test
node_modules/.pnpm/node_modules/.bin/node-which
node_modules/.pnpm/node_modules/.bin/pino
node_modules/.pnpm/node_modules/.bin/resolve
node_modules/.pnpm/node_modules/.bin/rimraf
node_modules/.pnpm/node_modules/.bin/semver
.gnostr
